<div>
    <form action="/cadastrar" method="POST">
        <div>
            <label>Nota:</label>
            <input type="number" name="nota" id="nota" required>
        </div>

        <div>
            <button type="submit">Enviar</button>
        </div>
    </form>
</div>